
/*GLOBALS*/

body {
	height: 100%;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 200;
	font-size: 16px;
	line-height: 28px;
	background-color: #ffffff;
	color: #777777;
	overflow-x: hidden;
}

h2 {
	font-weight: 400;

}

/*SECTION*/
.section {
	position: relative;
	background-image: url(bg.jpg);
	background-position: bottom center;
	background-repeat: repeat-x;
	overflow: hidden;
	background-color: #222222;
	color: #cccccc;
}

/*BUTTONS*/

.btn {

}

.btn-lg {

}

.btn-primary {

}



/*BRANDING*/
.logo {
	padding-top: 5rem;
}

/* NAV */
.navbar .patient-home, .navbar .doctor-home {
	display: none;
}

.navbar .patient-home.patient, .navbar .doctor-home.doctor {
	display: initial;
}

.navbar-header {
	background-color: #fff;
}


/* SPLASH PAGE */

#splash {
	text-align: center;
}

#splash h1 {
	font-size: 10max;
}

#splash h2 {
	width: 90%;
	font-size: 4max;
	margin-left: auto;
	margin-right: auto;
}

#splash p {
	font-size: 3max;
	margin-top: 30px;
}

#splash .buttons {
	margin-top: 30px;
}


/* FORM PAGES */

.form-page h1 {
	margin-bottom: 30px;
}

.form-page .alert-danger {
	display: none;
	font-weight: bold;
}

.form-page .alert-success {
	display: none;
	font-weight: bold;
}

.form-page label {
	white-space: nowrap;
}


/* login page */

#login-page {
	width: 320px;
	margin-left: auto;
	margin-right: auto;
}

#doctor-login {
	display: none;
}

#login-page .check-label {
	margin-right: 10px;
}

#login-page .paypal {
	display: none;
}

/*doctor patient list*/

.patient-request {

}

/* status report */
#health-status-update .update-header {
	background: #F9F9F9;
	border-bottom: 1px solid #000;
	margin-top: -20px;
}

#health-status-update .update-header h1 {
	float: left;
	margin-left: 10px;
}

#health-status-update .update-header a {
	float: right;
	display: block;
	margin-top: 20px;
}


#health-status-update .chart-buttons {
	  width: 640px;
  margin-left: 30px;
}

#health-status-update .chart-buttons .btn {
	  width: 27%;
  margin: 0 2%;
}

#health-status-update #details {
	margin-top: 46px;
}

